@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: inherit
}
.container {
    width: 1920px;
    margin: 0 auto;
}
.page-header {
    width: 100%;
    min-height: 1024px;
    padding: 40px;
    box-sizing: border-box;
    color: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.page-header:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #525048;
    background-image: url('../img/promo_image.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(40%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page-header__navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header__logo-icon {
    fill: #FFF;
    transition: fill .2s;
}
.page-header__logo:hover .page-header__logo-icon {
    fill: #EBD4B5
}
.page-header__logo-name {
    font-size: 34px;
    transition: color .2s;
}
.page-header__logo:hover .page-header__logo-name {
    color: #EBD4B5
}
.page-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px 0 200px
}
.page-header__nav-link {
    margin: 0 30px 0 0;
    transition: color .2s;
}
.page-header__nav-link:hover,
.page-header__nav-link:active {
    color: #EBD4B5;
}
.page-header__nav-link:nth-child(2) {
    color: #C7B299
}
.page-header__nav-link:last-child {
    margin: 0
}
.page-header__link {
    font-size: 24px;
    margin: 0 30px 0 0;
    transition: color .2s;
}
.page-header__link:hover,
.page-header__link:active {
    color: #EBD4B5;
}
.page-header__link:last-child {
    margin: 0
}

.page-header__promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    margin: auto
}
.page-header__promo-subheader {
    font-size: 36px;
    font-weight: 500;
    margin: 0
}
.page-header__promo-header {
    font-size: 52px;
    font-weight: 800;
    margin: 14px 0
}
.page-header__promo-description {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    width: 650px;
    text-align: center;
}
.page-header__promo-button {
    display: block;
    text-transform: uppercase;
    min-width: 170px;
    min-height: 53px;
    background-color: #998675;
    border-radius: 3px;
    text-align: center;
    line-height: 53px;
    font-size: 14px;
    font-weight: 800;
    margin: 50px 0 0 0;
    transition: .2s;
}
.page-header__promo-button:hover,
.page-header__promo-button:active {
    filter: brightness(75%)
}

.page-header__slider-dots {
    position: absolute;
    bottom: 40px
}
.page-header__slider-dots:hover :before {
    opacity: .8;
}
.page-header__slider-dot {
    position: relative;
    margin: 0 10px 0 0;
    appearance: none;
    width: 12px;
    height: 12px;
    outline: none;
}
.page-header__slider-dot:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #FFF;
    opacity: .5;
    top: 0;
    left: 0;
    transition: .2s;
    cursor: pointer;
}
.page-header__slider-dot:checked:before {
    width: 15px;
    height: 15px;
    border: 3px solid #D3C1AD;
    background: none;
    box-sizing: border-box;
    top: -2.5px;
    left: -2.5px;
}
.page-header__slider-switch {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px #FFF solid;
    background: none;
    border-top: none;
    border-right: none;
    top: calc(50% - 25px);
    box-sizing: border-box;
    opacity: .5;
    padding: 0;
    transition: opacity .2s;
    cursor: pointer;
}
.page-header__slider-switch:hover {
    opacity: 1;
}
.page-header__slider-switch:nth-of-type(1) {
    transform: rotate(45deg);
    left: 150px;
}
.page-header__slider-switch:nth-of-type(2) {
    transform: rotate(-135deg);
    left: calc(100% - 175px);
}